@import "settings";
@import "foundation";

$gray:			#525151;
$bannerGray:	#4b4a4a;
$copyGray:		#fdfcfc;
$footerGray:	#77787b;

$lightRed:		#ab483e; //#ab584e;
$darkRed:		#783936; //#794643;
$bannerRed:		#a54a3f;
$bannerDarkRed:	#5c140b; //#5c1d14;

// typography

html, body {
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
	color: $copyGray;
	background-color: #282828;
}

h1 {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 500; font-style: normal;
	color: $bannerRed;
	font-size: 1.8rem;
	letter-spacing: -0.02em;
	line-height: 2rem;
}

p {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
	color: $copyGray;
	font-size: 0.8rem;
	-webkit-font-smoothing: antialiased;
}

// Classes

#mobilemenu {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 33px;
	width: 290px; //48px;
	background-image: url(/images/menu.png);
	background-repeat: no-repeat;
	background-size: 33px 33px;
	z-index: 9999;
	overflow: visible;

	.dropdown.button::after, button.dropdown::after {
	   display: none;
	}

	.dropdown.button, button.dropdown {
	    //position: absolute !important;
	    //padding-right: 3.5625rem;
	}

	button, .button {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    border-radius: 0;
	    border-style: solid;
	    border-width: 0;
	    cursor: pointer;
	    font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700 !important; font-style: normal;
	    line-height: normal;
	    //margin: 0 0 1.25rem;
	    position: relative;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    padding: 1rem 2rem 1.0625rem 2rem;
	    font-size: 1rem;
	    background-color: transparent; //#008CBA;
	    border: none; //#007095;
	    color: transparent;
	    transition: background-color 300ms ease-out;
	}

	ul#drop {
		width: 280px;
	}
}

.arrow {
	position: absolute;
	left: 48%;
	bottom: 10%;
	margin-left: -405px;
	background-image: url('/images/arrow.svg');
	background-position: center center;
	background-repeat: no-repeat;

	&.two {
		margin-left: 30px;
	}

	a {
		display: block;
		width: 375px;
		height: 68px;
		font-size: 18px;
		font-weight: 700;
		line-height: 68px;
		margin-left: 22px;
		color: $copyGray;
	}
}

.fullscreen {
	position: relative;
	//height: 500px; //840px;
	//min-height: 500px;
	background-color: gray;
	//background-color: yellow;
	//border: 1px solid red;

	&.top {
		margin-top: 150px;
	}

	.heroPhoto {
		display: block;
		width: 100%;
		height: 800px;
		min-height: 400px;
		background-color: $bannerGray;

		&.main {
			position: relative;
			background-image: url('/images/hero.jpg');
			background-size: cover;
		    background-position: 50% 80%;
		    background-repeat: no-repeat;
		    min-height: 400px;
		    height: 600px;
		}
	}

	.copyBanner {
		display: block;
		background-color: $bannerRed;
		width: 100%;
		height: 200px;
		text-align: center;

		div {
			height: 100%;
		}

		.copyHolder {
			height: 100%;
		}

		background-image: url('/images/flourish.jpg');
	    background-position: left center;
	    background-repeat: no-repeat;

	    &.rightside {
	    	background-image: url('/images/flourishright.jpg');
	    	background-position: right center;
	    }

	    &.none {
	    	background-image: none;
	    }

		h2 {
			font-family: 'Didot 96 A', 'Didot 96 B'; font-weight: 600; font-style: italic;
			letter-spacing: 0.04em;
			color: #fff;
			font-size: 1.6rem;
			//margin: 5% 0 0 0;
		}
	}
}

.copyHolder {
	position: relative;
	display: table;

	.copyBlock {
		display: table-cell;
		vertical-align: middle;
	    height: 100%;
	    padding: 0 90px;
	}
}

#section2 {
	.copyBlock {
		//margin: -32% 0 0 -40%;
	}
}

.fullHeight {
	height: 100%;
	padding: 0;
}

.halfHeight {
	//position: relative;
	height: 50%;
	//background-color: yellow;

	div {
		height: 100%;
	}
}

.photo {
	//background-color: #252424;
	//border: 1px solid #252424;    
	overflow: hidden;
    background-size: cover;
    background-position: center center;overflow: hidden;

    &.bg {
    	background-size: auto;
    	background-position: 100% 80%;
    	background-repeat: no-repeat;
    }

    &.bg2 {
    	background-size: auto;
    	background-position: left bottom;
    	background-repeat: no-repeat;
    }

    &.bg3 {
    	background-size: 50%;
    	background-position: left bottom;
    	background-repeat: no-repeat;
    }
}

.row {

	&.fullWidth {
	   width: 100%;
	   margin-left: auto;
	   margin-right: auto;
	   max-width: initial;
	}

	.row {
		margin: 0;
	}
}


// IDs

#action {
	background-color: $bannerDarkRed;

	a {
		h2 {
			font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 800; font-style: normal;
			color: $copyGray;
			font-size: 1.3rem;
			letter-spacing: normal;
			//margin-top: 3%;
		}

		h3 {
			font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
			color: $copyGray;
			font-size: 1.3rem;
			-webkit-font-smoothing: antialiased;
		}

		img {
			width: 2.8rem;
			height: auto;
			margin-top: 0.4rem;
		}
	}
}

#footer {
	background-color: $bannerGray;
	min-height: 22%;
	height: auto;

	div {
		text-align: center;

		hr {
			color: $footerGray;
			border-color: $footerGray;
		}

		p {
			color: $footerGray;
		}
	}

	img {
		padding: 10% 0 7% 0;
		width: 8rem;
		height: auto;
	}

	hr {
		margin: 1rem 0;
	}

	.contact {

		p {
			margin-bottom: 0;
		}
	}

	.fine {
		p {
			font-size: .6rem;
		}
	}
}

#mainContainer {
	background-color: $gray;
	height: 100%;
}

#masthead {	
	position: fixed;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	height: 150px;
	background-color: #ffffff;
	z-index: 9998;

	#logo {

		a {
			display: block;
			height: auto;
			width: auto;

			img {
				margin: 38px auto 0 auto;
				display: block;
				height: 30px;
				width: auto


			}

		}
	}

	#navigation { 
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 45px;

		div {
			text-align: center;

			a {
				font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;
				color: $copyGray;
				font-size: 14px; //rem-calc(10);

				display: block;
				vertical-align: middle;
				width: 100%;
				height: 45px;
				line-height: 45px;
				//padding: 3% 0;

			}

		}

		div.gray {background: $gray}
		div.lightRed {background: $lightRed}
		div.darkRed {background: $darkRed}
	}

}

@media #{$large-up} {

	#mobile {
		display: block;
	}
}


@media #{$small-only} { 
	#action a h2 {
		margin-top: 5% !important;
	}

	.arrow {
		left: 48%;
		bottom: 40%; //200px;
		width: auto;
		height: auto; //68px;
		margin-left: -125px;
		background-size: contain;

		&.two {
			margin-left: -125px;
			bottom: 30%;//130px;
		}

		a {
			display: block;
			width: 265px;
			height: 48px;
			font-size: 12px;
			line-height: 48px;
			margin-left: 22px;
		}
	}

	.copyHolder {
		position: relative;
		display: table;

		.copyBlock {
			display: table-cell;
			vertical-align: middle;
		    height: 100%;
		    padding: 0 30px;
		}
	}

	.heroPhoto {
		display: block;
		height: auto; //500px;
		overflow: hidden;
		//border: 1px solid red;

		&.main {
			height: 200px;
			//background-position: 50% 150%;
		}
	}

	.fullscreen {
		overflow: visible;

		.copyBanner {
			height: 120px !important;
			//margin-top: -30px !important;

			h2 {font-size: 1rem !important;}
		}
	}

	.halfHeight, .fullheight {
		height: 250px;
	}

	#action {
		h2 {
			font-size: 0.7rem !important;
		}

		h3 {
			font-size: 0.7rem !important;
		}

		img {
			width: 35px !important;
			height: auto;
			//margin-top: -20px !important;
		}
	}

	#masthead {
		height: 75px;
		//overflow: hidden;

		#logo {

			a {

				img {
					margin: 19px auto 0 auto;
					//height: 36px;
				}

			}
		}
	}

	.fullscreen {
		&.top {
			margin-top: 50px;
		}
	}

	#mobile {
		display: none !important;
	}
}

@media #{$medium-only} { 
	#action a h2 {
		margin-top: 3% !important;
	}

	.arrow {
		left: 48%;
		bottom: 40%; //200px;
		width: auto;
		height: auto; //68px;
		margin-left: -125px;
		background-size: contain;

		&.two {
			margin-left: -125px;
			bottom: 30%;//130px;
		}

		a {
			display: block;
			width: 265px;
			height: 48px;
			font-size: 12px;
			line-height: 48px;
			margin-left: 22px;
		}
	}

	.copyHolder {
		position: relative;
		display: table;

		.copyBlock {
			display: table-cell;
			vertical-align: middle;
		    height: 100%;
		    padding: 0 200px;
		}
	}

	.heroPhoto {
		display: block;
		height: auto; //500px;
		overflow: hidden;

		&.main {
			height: 200px;
		}
	}

	.fullscreen {
		overflow: visible;

		.copyBanner {
			height: 120px !important;
			h2 {font-size: 1rem !important;}
		}
	}

	.halfHeight, .fullheight {
		height: 250px;
	}

	#action {
		h2 {
			font-size: 0.7rem !important;
		}

		h3 {
			font-size: 0.7rem !important;
		}

		img {
			width: 35px !important;
			height: auto;
			//margin-top: -20px !important;
		}
	}

	#masthead {
		height: 75px;
		//overflow: hidden;

		#logo {

			a {

				img {
					margin: 19px auto 0 auto;
				}

			}
		}
	}

	.fullscreen {
		&.top {
			margin-top: 50px;
		}
	}

	#mobile {
		display: none !important;
	}
}

@media #{$medium-only} { 
	#mobile {
		display: none !important;
	}
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
