@import "settings";
@import "foundation";

$gray:			#525151;
$bannerGray:	#4b4a4a;
$copyGray:		#fdfcfc;
$footerGray:	#77787b;

$lightRed:		#ab584e;
$darkRed:		#794643;
$bannerRed:		#a54a3f;
$bannerDarkRed:	#5c1d14;

// typography

html, body {
	height: 100%;
}

body {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
	color: $copyGray;
	background-color: #ffffff;
}

// Classes
.fullscreen {
	display: flex;
	background: gray;
}
// IDs

#mainContainer {
	position: relative;
	background-color: $gray;
	min-height: 100%;
}

#masthead {	
	height: 180px;
	background-color: #ffffff;

	#logo {
		height: 130px;

		img {
			height: 36px;
			margin-top: 50px;
		}
	}
}

#navigation { 
	height: 46px;

	div {

		a {
			font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
			color: $copyGray;
			font-size: 12px; //rem-calc(10);

			display: table-cell;
			text-align: center;
			vertical-align: middle;
			height: 46px;
			width: 100%;
		}

	}

	div.gray {background: $gray}
	div.lightRed {background: $lightRed}
	div.darkRed {background: $darkRed}
}


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
