@import "settings";
@import "foundation";

$gray:			#525151;
$bannerGray:	#4b4a4a;
$copyGray:		#fdfcfc;
$footerGray:	#77787b;

$lightRed:		#ab584e;
$darkRed:		#794643;
$bannerRed:		#a54a3f;
$bannerDarkRed:	#5c1d14;

// typography

html, body {
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
	color: $copyGray;
	background-color: #282828;
}

h1 {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 500; font-style: normal;
	color: $bannerRed;
	font-size: 1.8rem;
	letter-spacing: -0.02em;
	line-height: 2rem;
}

p {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
	color: $copyGray;
	font-size: 0.8rem;
	-webkit-font-smoothing: antialiased;
}

// Classes

.arrow {
	position: absolute;
	left: 48%;
	bottom: 35%;
	width: auto; //375px;
	height: auto; //68px;
	margin-left: -405px;
	background-image: url('/images/arrow.svg');
	background-position: center center;
	background-repeat: no-repeat;

	&.two {
		margin-left: 30px;
	}

	a {
		display: block;
		width: 375px;
		height: 68px;
		font-size: 18px;
		font-weight: 700;
		line-height: 68px;
		margin-left: 22px;
		color: $copyGray;
	}
}

.fullscreen {
	position: relative;
	//height: 500px; //840px;
	//min-height: 500px;
	background-color: gray;
	//background-color: yellow;
	//border: 1px solid red;

	.heroPhoto {
		display: block;
		width: 100%;
		background-color: $bannerGray;

		&.main {
			background-image: url('/images/hero.jpg');
			background-size: cover;
		    background-position: 50% 80%;
		    background-repeat: no-repeat;
		    min-height: 400px;
		}
	}

	.copyBanner {
		display: block;
		background-color: $bannerRed;
		width: 100%;
		height: 200px;
		text-align: center;

		background-image: url('/images/flourish.jpg');
	    background-position: left center;
	    background-repeat: no-repeat;

	    &.rightside {
	    	background-image: url('/images/flourishright.jpg');
	    	background-position: right center;
	    }

	    &.none {
	    	background-image: none;
	    }

		h2 {
			font-family: 'Didot 96 A', 'Didot 96 B'; font-weight: 600; font-style: italic;
			letter-spacing: 0.04em;
			color: #fff;
			font-size: 1.6rem;
			margin: 5% 0 0 0;
		}
	}
}

.copyBlock {
	position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 80%;
    margin: -10% 0 0 -40%;
}

#section2 {
	.copyBlock {
		margin: -32% 0 0 -40%;
	}
}

.fullHeight {
	height: 100%;
	padding: 0;
}

.halfHeight {
	//position: relative;
	height: 50%;
	//background-color: yellow;

	div {
		height: 100%;
	}
}

.photo {
	//background-color: #252424;
	//border: 1px solid #252424;    
	overflow: hidden;
    background-size: cover;
    background-position: center center;overflow: hidden;

    &.bg {
    	background-size: auto;
    	background-position: 100% 80%;
    	background-repeat: no-repeat;
    }

    &.bg2 {
    	background-size: auto;
    	background-position: left bottom;
    	background-repeat: no-repeat;
    }

    &.bg3 {
    	background-size: 50%;
    	background-position: left bottom;
    	background-repeat: no-repeat;
    }
}

.row {
	.row {
		margin: 0;
	}
}


// IDs

#action {
	background-color: $bannerDarkRed;

	a {
		h2 {
			font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 800; font-style: normal;
			color: $copyGray;
			font-size: 1.3rem;
			letter-spacing: normal;
			margin-top: 3%;
		}

		h3 {
			font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
			color: $copyGray;
			font-size: 1.3rem;
			-webkit-font-smoothing: antialiased;
		}

		img {
			width: 2.8rem;
			height: auto;
			margin-top: 0.4rem;
		}
	}
}

#footer {
	background-color: $bannerGray;
	min-height: 22%;
	height: auto;

	div {
		text-align: center;

		hr {
			color: $footerGray;
			border-color: $footerGray;
		}

		p {
			color: $footerGray;
		}
	}

	img {
		padding: 20% 0 7% 0;
		width: 8rem;
		height: auto;
	}

	hr {
		margin: 1rem 0;
	}

	.contact {

		p {
			margin-bottom: 0;
		}
	}

	.fine {
		p {
			font-size: .6rem;
		}
	}
}

#mainContainer {
	background-color: $gray;
	height: 100%;
}

#masthead {	
	position: fixed;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	height: 191px;
	background-color: #ffffff;
	z-index: 9999;

	#logo {
		padding: 4% 0;
	}

	#navigation { 
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 45px;

		div {
			text-align: center;

			a {
				font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 700; font-style: normal;
				color: $copyGray;
				font-size: 14px; //rem-calc(10);

				display: block;
				vertical-align: middle;
				width: 100%;
				height: 45px;
				line-height: 45px;
				//padding: 3% 0;

			}

		}

		div.gray {background: $gray}
		div.lightRed {background: $lightRed}
		div.darkRed {background: $darkRed}
	}

}

@media #{$large-up} {

	.fullscreen.top {
		margin-top: 191px !important;
	}

	#mobile {
		display: block;
	}
}


@media #{$small-only} { 
	#action a h2 {
		margin-top: 5% !important;
	}

	.arrow {
		left: 48%;
		bottom: 40%; //200px;
		width: auto;
		height: auto; //68px;
		margin-left: -125px;
		background-size: contain;

		&.two {
			margin-left: -125px;
			bottom: 30%;//130px;
		}

		a {
			display: block;
			width: 265px;
			height: 48px;
			font-size: 12px;
			line-height: 48px;
			margin-left: 22px;
		}
	}

	.copyBlock {
		margin-top: -20% !important;
	}

	.heroPhoto {
		display: block;
		height: auto; //500px;
		overflow: hidden;
		//border: 1px solid red;

		&.main {
			height: 200px;
			//background-position: 50% 150%;
		}
	}

	.fullscreen {
		overflow: visible;

		.copyBanner {
			height: 120px !important;
			//margin-top: -30px !important;

			h2 {font-size: 1rem !important;}
		}
	}

	.halfHeight, .fullheight {
		height: 250px;
	}

	#action {
		h2 {
			font-size: 0.7rem !important;
		}

		h3 {
			font-size: 0.7rem !important;
		}

		img {
			width: 10% !important;
			height: auto;
			margin-top: -1% !important;
		}
	}

	#masthead {
		height: 50px;
		overflow: hidden;
	}

	.fullscreen {
		&.top {
			margin-top: 50px;
		}
	}

	#mobile {
		display: none !important;
	}
}

@media #{$small-up} {
	.fullscreen {
		//height: auto;
		//min-height: 400px;

		&.top {
			margin-top: 50px;
		}
	}

	
}

@media #{$medium-only} { 
	#mobile {
		display: none !important;
	}
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
